<div class="contaner">
    <div class="card">
        <p>
            Welcome to the Todo List App! This simple and user-friendly app helps you stay organized and productive by allowing you to add, manage, and delete tasks effortlessly. Your tasks are securely saved in your browser’s local storage, so they’re always available, even after refreshing the page. Whether it's daily chores, work assignments, or personal goals, this app is designed to make task management easy and efficient!
            </p>
    </div>
   
</div>